.site-container {
    display: flex;
    width: 100%;
    min-height: 100vh;

}


.slideshow-bar {
    width: 200px;
    /* adjust as needed */
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color-border);
}


.slideshow-bar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 2rem;
    background: #ffffff;

    /* optional background */
}

.slideshow-bar {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.slideshow-bar:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transform: scale(1.02);
    /* optional slight zoom */
}