.slideshow {
    opacity: .8;
    position: relative;
    left: 350px;
    width: 350px;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.25),
        /* main soft shadow */
        0 3px 6px rgba(0, 0, 0, 0.15);
    /* tighter inner shadow */
    border-radius: 10px;
    /* adjust spacing from the right edge */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1.5s ease, transform 0.3s ease;
}

.slide.active {
    opacity: 1;
}

.slideshow:hover .slide.active {
    transform: scale(1.07);
}